@import "tailwindcss";

@theme {
    --color-primary-bg: #f5f5f5;
    --color-secondary-bg: #ebebeb;
    --color-primary-text: #3d3d3d;
    --color-secondary-text: #474747;
    --color-border-line: #525252;
    --color-highlighted-bg: #e4e9d4;
}
